.react-hot-toast{
    position: fixed !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    max-width: 400px;
    z-index: 9999;
}